/* Cabeçalho */

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

.listaCabecalho a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */
